Folder.DotSettings.user
# Logs
logs
*.log
npm-debug.log*

.DS_Store

# Dependency directories
node_modules/

# Environment variables
.env
.env.local

# Build directory
dist/
build/

# IDE specific files
.vscode/
.idea/
*.swp
*.swo